@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");

.navLinkHome,
.navLinkCreateNewBlog {
  text-decoration: none;
  color: white;
  font-family: "Itim", cursive;
  font-size: large;
}

.blog-post-card {
  text-align: center;
}

.show-container {
  text-align: center;
}
.blog-posts-container {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}